<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>GoN Quals 2015</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <script src="{{ url_for('static', filename='js/jquery-2.1.3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>
<body>
  <div class="navbar navbar-default mar-nobot">
    <div class="container">
      <div class="navbar-header">
        <button type="btn" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
          <span class="sr-only">Toggle nav</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="{{ url_for('index') }}" class="navbar-brand">GoN Quals</a>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li class="menu-prob_index"><a href="{{ url_for('prob_index') }}">Probs</a></li>
          <li class="menu-prob_category menu-prob_category_index">
            <a href="{{ url_for('prob_category_index') }}">Category</a>
          </li>
          <li class="menu-prob_pack menu-prob_pack_index">
            <a href="{{ url_for('prob_pack_index') }}">Packs</a>
          </li>
          <li class="menu-rank"><a href="{{ url_for('rank') }}">Rank</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if current_user.is_authenticated() %}
          <li class="menu-mypage"><a href="{{ url_for('mypage') }}">{{ current_user.username }}'s page</a></li>
          <li><a href="{{ url_for('logout') }}">Logout</a></li>
          {% else %}
          <li class="menu-login"><a href="{{ url_for('login') }}">Login</a></li>
          <li class="menu-register"><a href="{{ url_for('register') }}">Register</a></li>
          {% endif %}
          {% if current_user.is_admin() %}
          <li><a href="/admin">Admin</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <script>
    $(".menu-{{ request.endpoint }}").addClass("active");
  </script>

  {% block body %}{% endblock %}

  <div class="container mar-top20">
    <div id="content">{% block content %}{% endblock %}</div>
  </div>

  <div class="footer">
    <div class="container">
      <p><a href="http://gon.kaist.ac.kr">GoN Homepage</a></p>
      <p>KAIST Hacking &amp; Security group GoN, since 1999</p>
    </div>
  </div>

</body>
</html>
