<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>GoN Quals 2015</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
	<script src="{{ url_for('static', filename='js/jquery-2.1.3.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>
<body>
	<div class="navbar navbar-default mar-nobot">
		<div class="container">
			<div class="navbar-header">
				<button type="btn" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
					<span class="sr-only">Toggle nav</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="{{ url_for('frontend.index') }}" class="navbar-brand">GoN Quals</a>
			</div>
			<div class="navbar-collapse collapse" id="navbar-main">
				<ul class="nav navbar-nav">
					<li class="menu-frontend.problem_index"><a href="{{ url_for('frontend.problem_index') }}">Probs</a></li>
					<li class="menu-frontend.category_index"><a href="{{ url_for('frontend.category_index') }}">Categories</a></li>
					<li class="menu-frontend.problemset_index"><a href="{{ url_for('frontend.problemset_index') }}">Prob Sets</a></li>
					<li class="menu-frontend.rank"><a href="{{ url_for('frontend.rank') }}">Rank</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					{% if current_user.is_authenticated() %}
						<li class="menu-frontend.mypage"><a href="{{ url_for('frontend.mypage', next=next or request.path) }}">{{ current_user.username }}</a></li>
						<li class="menu-frontend.logout"><a href="{{ url_for('frontend.logout', next=next or request.path) }}">Logout</a></li>
					{% else %}
						<li class="menu-frontend.login"><a href="{{ url_for('frontend.login', next=next or request.path) }}">Login</a></li>
						<li class="menu-frontend.register"><a href="{{ url_for('frontend.register', next=next or request.path) }}">Register</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
	{% block body %}
	{% endblock %}
	<div class="container mar-top20">
		<div id="content">{% block content %}{% endblock %}</div>
	</div>
	<div class="footer">
		<div class="container">
			<p><a href="http://gon.kaist.ac.kr">GoN Homepage</a></p>
			<p>KAIST Hacking &amp; Security group GoN, since 1999</p>
		</div>
	</div>
	<script>
	$(".menu-{{ request.endpoint|replace('.', '\\\\.') }}").addClass("active");
	</script>
	{% block script %}
	{% endblock %}
</body>
</html>
