{% extends "base.html" %}

{% block content %}
<div class="col-md-10 col-md-offset-1">
<h1>Category</h1>
<hr></hr>
{% for cat in cats %}
<div class="col-md-4 col-sm-6">
  <div class="panel panel-primary">
    <div class="panel-heading"><h2 class="panel-title">
      <a href={{ url_for('prob_category', cat=cat[0]) }}>{{ cat[0] }}</a>
    </h2></div>
    <div class="panel-body">
      Total <b>{{ cat[1] }}</b> problems.
      <a href={{ url_for('prob_category', cat=cat[0]) }}>Go</a>
    </div>
  </div>
</div>
{% endfor %}
</div>
{% endblock %}
