{% extends "base.html" %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
	<h1>Mypage</h1>
	<hr></hr>
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
				<div class="alert alert-{{ category }}">{{ message }}</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	{% macro error_field(field) %}
		{% if field.errors %}
			{% for error in field.errors %}
				<div class="alert alert-danger">{{ field.label }}: {{ error }}</div>
			{% endfor %}
		{% endif %}
	{% endmacro %}
	{{ error_field(form.realname) }}
	{{ error_field(form.nickname) }}
	{{ error_field(form.password) }}
	{{ error_field(form.confirm) }}
	<form action="" method="POST" name="mypage" class="form-horizontal">
		{{ form.hidden_tag() }}
		{% macro render_field(field) %}
			<div class="form-group">
				<label class="col-sm-2 form-label">{{ field.label }}</label>
				<div class="col-sm-10 full-width">{{ field() }}</div>
			</div>
		{% endmacro %}
		{{ render_field(form.realname) }}
		{{ render_field(form.nickname) }}
		{{ render_field(form.password) }}
		{{ render_field(form.confirm) }}
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default">Modify</button>
		</div>
	</form>
</div>
{% endblock %}
