{% extends "base.html" %}

{% block content %}
<div class="col-md-10 col-md-offset-1">
<h1>Problem packs</h1>
<hr></hr>
<table class="table table-striped">
  <thead>
    <td class="col-sm-6">Title</td>
    <td class="col-sm-3">Rank page</td>
    <td class="col-sm-3">Problems</td>
  </thead>
  {% for pack in packs %}
  <tr>
    <td><a href={{ url_for('prob_pack', pid=pack[1]) }}>{{ pack[0] }}</a></td>
    <td><a href={{ url_for('rank_pack', pid=pack[1]) }}>Rank</a></td>
    <td>{{ pack[2] }}</td>
  </tr>
  {% endfor %}
</table>
</div>
{% endblock %}
