{% extends "base.html" %}

{% block content %}

<div class="col-md-9 col-md-offset-2">
{% if problem %}
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}

  <h2>{{ problem.title }}</h2>
  <hr></hr>

  <dl class="dl-horizontal">
    <dt>Category</dt>
    <dd>
      {{ problem.category }}
      <a href="{{ url_for('prob_category', cat=problem.category) }}">Go</a>
    </dd>
    <dt>Points</dt><dd>{{ problem.point }} pts</dd>
    <dt>Appeared in</dt>
    {% if problem.packs %}
      {% for pack in problem.packs %}
      <dd>{{ pack.name }} <a href="{{ url_for('prob_pack', pid=pack.id) }}">Go</a></dd>
      {% endfor %}
    {% else %}
      <dd>&nbsp;</dd>
    {% endif %}
    <dt>Solved by</dt>
    <dd>
    {{ solvers|length }} people
    <span data-toggle="tooltip" data-placement="bottom" id="solvers">
      <a>?</a>
    </span>
    </dd>
  </dl>
  <hr></hr>

  <div id="problem_content">{{ problem.content }}</div>
  <script src="{{ url_for('static', filename='js/marked.min.js') }}"></script>
  <script>
    var content = $("#problem_content");
    content.html(marked(content.html(), {
              gfm: true,
              tables: true,
              breaks: true,
              sanitize: true,
              smartLists: true
    }));
    var solvers = {{ solvers|tojson }};
    $("#solvers").attr("title", solvers.join(", "));
    $("#solvers").tooltip();
  </script>

  <hr></hr>
  <form action="/auth/{{ problem.id }}/" method="post" class="form-inline mar-top20">
    <div class="form-group">
      <label class="form-label">Flag</label>
      <input type="text" name="key" size="60" class="form-control"/>
      <input type="submit" value="Auth!" class="btn btn-default"/>
    </div>
  </form>
{% else %}
  <p>Problem not found.</p>
{% endif %}
</div>
{% endblock %}
