{% extends "base.html" %}

{% block content %}

<div class="col-md-10 col-md-offset-1">
  <h1>Problems
    {% if title %}<small>in {{ title[1] }}</small>{% endif %}
  </h1>
  <h5>{{ problems|length }} problems in the set. {{ total }} points solved</h5>
  <hr></hr>
  <div clsss="row">
    {% for prob in problems %}
    <div class="col-sm-6 col-md-4 col-lg-3">
      {% if prob in current_user.solves %}
      <a href="{{ url_for('prob', pid=prob.id) }}" class="btn btn-success solved btn-lg prob-btn">
        {{ prob.title }}<br><span class="meta">{{ prob.category }} {{ prob.point }}</span>
      </a>
      {% else %}
      <a href="{{ url_for('prob', pid=prob.id) }}" class="btn btn-default not-solved btn-lg prob-btn">
        {{ prob.title }}<br><span class="meta">{{ prob.category }} {{ prob.point }}</span>
      </a>
      {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/btn_deco.js') }}"></script>
{% endblock %}
