{% extends "base.html" %}

{% block content %}
<style>
table {
	word-wrap: break-word;
	table-layout: fixed;
}
</style>
<div class="col-md-10 col-md-offset-1">
	<h1>Rank
		{% if title %}
		<small> in {{ title }}</small>
		{% endif %}
	</h1>
	<hr></hr>
	<table class="table table-striped">
		<thead>
			<td class="col-sm-2">#</td>
			<td class="col-sm-5">Username</td>
			<td class="col-sm-5">Point</td>
		</thead>
		{% for user in users %}
		<tr>
			<td class="col-sm-2">{{ loop.index }}</td>
			<td class="col-sm-5">{{ user.username }}</td>
			<td class="col-sm-5">{{ user.score }}</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
